a {
    text-decoration: none;
    font-size: 1em;
}

.Text {
    font-family: 'Almendra'; /*! шрифт */
    font-size: 2em;
}

.BG1 {
    position: relative;
    padding-top: 2%;
    margin-top: 51.5%;
    background: rgb(255, 255, 255);
    background-repeat: no-repeat;
}

.BG1-2 {
    position: relative;
    background: rgb(255, 255, 255);
}

.TitleP {
    font-size: 5em;
    position: relative;
    text-align: center;
    top: 2%;
    color: rgb(255, 108, 108);
    text-shadow: 0 10px 10px rgb(197, 35, 35);
}

.TitleBoxMini {
    text-shadow: 0 5px 5px rgb(197, 35, 35);
    padding: 1%;
    color: rgb(255, 108, 108);
}

table {
    font-size: 2em;
}

th {
    padding: 5%;
    align-items: center;
}

.money {
    text-shadow: 0 5px 5px rgb(94, 94, 94);
}

.bar {
    position: absolute;
    background-color: rgb(192, 192, 192);
    width: 100%;
    box-shadow: 0 -15px 10px rgb(192, 192, 192);
    border-radius: 40px 40px 0 0;
    font-size: 20px;
    margin-top: 5%;
    left: 0;
    padding-bottom: 2%;
}

.linkBar {
    height: 55%;
    width: 25%;
    border-radius: 50%;
    box-shadow: -5px 5px 10px rgb(0, 0, 0);
}