@media screen and (max-width: 2560px) and (orientation: portrait) {
    .Table {
        margin-left: 25%;
    }

    .TableTH {
        height: 50%;
        width: 50%;
    }

    .TableTH:hover {
        height: 100%;
        width: 100%;
    }

    .TitleP {
        font-size: 10em;
    }

    .link {
        width: 20%;
    }

    .bar {
        font-size: 2em;
        margin-top: 70%;
    }

    .wrapper {
        grid-template-columns: 1fr;
    }

    .linkBox {
        margin-top: 38%;
        left: 20%;
    }

    @keyframes roll-Bt {
        0%{
            left: -100%;
        }    
    
        100%{
            left: 20%;
        }    
    }
    
    .BG1-2 {
        margin-top: 100%;
    }
}

@media screen and (max-width: 1920px) and (orientation: portrait) {
    .Table{
        margin-left: 15%;
    }

    .TableTH {
        height: 40%;
        width: 40%;
    }
    
    .TableTH:hover {
        height: 80%;
        width: 80%;
    }

    .TitleP {
        font-size: 5em;
    }

    .link {
        width: 15%;
    }

    .linkBox {
        left: 12%;
    }

    @keyframes roll-Bt {
        0%{
            left: -100%;
        }    
    
        100%{
            left: 12%;
        }    
    }

    .bar {
        font-size: 1.7em;
    }
}

@media screen and (max-width: 1440px) and (orientation: portrait) {
    .Table{
        margin-left: 5%;
    }

    .TableTH {
        height: 40%;
        width: 40%;
    }
    
    .TableTH:hover {
        height: 80%;
        width: 80%;
    }

    .TitleP {
        font-size: 5em;
    }

    .link {
        width: 15%;
    }

    .bar {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 1024px) and (orientation: portrait) {
    .linkBox {
        width: 50%;
    }

    .TitleP {
        font-size: 4em;
    }

    .wrapper {
        font-size: 2em;
    }

    .bar {
        font-size: 1.3em;
    }

    .linkBox {
        left: 17%;
    }

    @keyframes roll-Bt {
        0%{
            left: -100%;
        }    
    
        100%{
            left: 17%;
        }    
    }
}

@media screen and (max-width: 768px) and (orientation: portrait) {
    .TitleP {
        font-size: 3em;
    }

    .wrapper {
        font-size: 1.5em;
    }

    .bar {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 425px) and (orientation: portrait) {
    .TitleP {
        font-size: 2em;
    }

    .wrapper {
        font-size: 1em;
    }

    .bar {
        font-size: 1em;
    }

    .linkBox {
        margin-top: 36%;
    }
}

@media screen and (max-width: 375px) and (orientation: portrait) {
    .bar {
        grid-template-columns: 1fr;
        font-size: 0.8em;
        padding-bottom: 5%;
    }

    .logoBar {
        width: 25%;
    }
}

@media screen and (max-width: 320px) and (orientation: portrait) {
    .linkBox {
        margin-top: 35%;
    }
}