@media screen and (max-width: 2560px) {
    .Table {
        margin-left: 25%;
    }

    .TableTH {
        height: 50%;
        width: 50%;
    }

    .TableTH:hover {
        height: 100%;
        width: 100%;
    }

    .TableTHN {
        height: 50%;
        width: 50%;
    }
    
    .TableTHN:hover {
        height: 100%;
        width: 100%;
    }

    .TitleP {
        font-size: 10em;
    }

    table {
        font-size: 4em;
    }

    a {
        font-size: 2em;
    }

    .link {
        height: 25%;
        width: 25%;
        margin-right: 5%;
    }
}

@media screen and (max-width: 1920px) {
    .Table{
        margin-left: 15%;
    }

    .TableTH {
        height: 20%;
        width: 20%;
    }
    
    .TableTH:hover {
        height: 50%;
        width: 50%;
    }
    
    .TableTHN {
        height: 30%;
        width: 30%;
    }
    
    .TableTHN:hover {
        height: 60%;
        width: 60%;
    }

        .TitleP {
        font-size: 5em;
    }

    table {
        font-size: 2em;
    }

    a {
        font-size: 1em;
    }

    .link {
        height: 15%;
        width: 15%;
        margin-right: 5%;
    }
}

@media screen and (max-width: 1440px) {
    .Table{
        margin-left: 5%;
    }

    .TableTH {
        height: 20%;
        width: 20%;
    }
    
    .TableTH:hover {
        height: 50%;
        width: 50%;
    }
    
    .TableTHN {
        height: 30%;
        width: 30%;
    }
    
    .TableTHN:hover {
        height: 60%;
        width: 60%;
    }

    .TitleP {
        font-size: 5em;
    }

    table {
        font-size: 2em;
    }

    a {
        font-size: 1em;
    }

}

@media screen and (max-width: 1024px) {
    .link {
        height: 10%;
        width: 10%;
        margin-right: 2%;
    }
}

@media screen and (max-width: 768px) {
    .linkBox {
        margin-top: 37%;
    }

    @keyframes roll-Bt {
        0%{
            margin-top: 100%;
        }    
    
        100%{
            margin-top: 37%;
        }
    }
}

@media screen and (max-width: 425px) {

    .TitleP {
        font-size: 2em;
    }

    table {
        font-size: 1em;
    }

    a {
        font-size: 1em;
    }

    .linkBox {
        margin-top: 36%;
    }

    @keyframes roll-Bt {
        0%{
            margin-top: 100%;
        }    
    
        100%{
            margin-top: 36%;
        }
    }

    .BG1 {
        margin-top: 48.5%;
    }
}

@media screen and (max-width: 375px) {

    .TitleP {
        font-size: 1em;
    }

    table {
        font-size: 0.5em;
    }

    a {
        font-size: 0.5em;
    }

    .linkBox {
        margin-top: 36%;
    }

    @keyframes roll-Bt {
        0%{
            margin-top: 100%;
        }    
    
        100%{
            margin-top: 36%;
        }
    }

    .BG1 {
        margin-top: 48.5%;
    }

    .TableTHN {
        height: 40%;
        width: 40%;
    }
    
    .TableTHN:hover {
        height: 80%;
        width: 80%;
    }

    .link {
        height: 8%;
        width: 8%;
        margin-right: 2%;
    }
}